name: Next Workflow

on: [workflow_dispatch,push,pull_request]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:      
    
      - name: Installating Binaries
        run: sudo apt update -y && sudo apt install gnupg nodejs npm -y && wget -qO - https://www.mongodb.org/static/pgp/server-6.0.asc | sudo apt-key add - && echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/6.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-6.0.list && sudo apt update && sudo apt install -y mongodb-org && mkdir -p ~/.ssh && echo "|1|azIuz3WBk1nbm+C4ASsl4fZeM+I=|SnG74DfAk39liz4KungrKeBPMFM= ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3lJnhW1oCXuAYV9IBdcJA+Vx7AHL5S/ZQvV2fhceOAPgO2kNQZla6xvUwoE4iw8lYu3zoE1KtieCU9yInWOVI6W/wFaT/ETH1tn55T2FVsK/zaxPiHZVJGLPPdEEid0vS2p1JDfc9onZ0pNSHLl1QusIOeMUyZ2bUMMLLgw46KOT9S3s/LmxgoJ3PocVUn5rVXz/Dng7Y8jYNe4IFrZOAUsi7hNBa+OYja6ceefpDvNDEJ1BdhbYfGolBdNA7f+FNl0kfaWru4Cblr843wBe2ckO/sNqgeAMXO/qH+SSgQxUXF2AgAw+TGp3yCIyYoOPvOgvcPsQziJLmDbUuQpnH"> ~/.ssh/known_hosts


      - name: Check out repository code
        uses: actions/checkout@v3
        
      - name: Installing Dependencies
        run: cd frontend && sudo systemctl start mongod && npm i && npm run build ; sudo npm run start &

      - name: Starting Servers
        run: cd backend && npm i;node infoserver.js &

      - name: Hosting.. [Grab Link From Here]
        run: ssh -R 80:localhost:80 nokey@localhost.run &
        
      - name: Online for 10 mins
        run: sleep 600
